$body-color:                  #484848 !default;
$light-color:                 #fff !default;
$light-bgcolor:               #f8f9fa !default;
$dark-color:                  rgba(0, 0, 0, 0.9) !default;
$dark-bgcolor:                #343a40 !default;

$brand-color:                 #ef8caa !default;
$brand-color-secondary:       $light-bgcolor !default;

$footer-bgcolor:              $brand-color-secondary !default;
$footer-txtcolor:             lighten($dark-color, 50%) !default;
$footer-linkcolor:            $brand-color !default;

$top-bar-bgcolor:             $dark-bgcolor !default;
$top-bar-txtcolor:            change-color($light-color, $alpha: 0.8) !default;
$top-bar-linkcolor:           change-color($light-color, $alpha: 0.8) !default;

$navbar-bgcolor:              $light-bgcolor !default;
$navbar-item-color:           $brand-color !default;
$navbar-item-bgcolor:         transparent !default;
$navbar-item-hover-color:     lighten($brand-color, 10%) !default;
$navbar-item-hover-bgcolor:   transparent !default;
$navbar-item-active-color:    $brand-color !default;
$navbar-item-active-bgcolor:  transparent !default;
$navbar-brand-bgcolor:        $dark-bgcolor !default;

$stage-bgcolor:               $light-bgcolor !default;
$stage-color:                 $light-color !default;
$banner-height:               250px;

$theme-accent-color:          $brand-color !default;
$theme-accent-a11y-color:     $light-color !default;

$promo-bgcolor:               rgb(212, 40, 40) !default;
$promo-txtcolor:              $light-color !default;
$promo-navbar-bgcolor:        $brand-color !default;
$promo-navbar-txtcolor:       $light-color !default;

$promo-content-bgcolor:       $light-color !default;
$promo-content-txtcolor:      $dark-color !default;
$promo-button-bgcolor:        $theme-accent-color !default;
$promo-button-txtcolor:       $theme-accent-a11y-color  !default;
$promo-button-radius:         3px !default;
$promo-pill-bgcolor:          $light-color !default;
$promo-pill-txtcolor:         $theme-accent-color  !default;

$banner-solid-bgcolor:           $brand-color !default;
$banner-solid-txtcolor:          $light-color !default;
$banner-solid-button-bgcolor:    $banner-solid-txtcolor !default;
$banner-solid-button-txtcolor:   $banner-solid-bgcolor !default;
$banner-solid-button-radius:     3px !default;

$listItem-bgcolor:            $light-bgcolor !default;
$listItem-color:              $dark-color !default;

$widget-horizontal-bgColor:   transparent !default;// rgba(0,0,0,0.45) !default;
$widget-vertical-bgColor:     rgba(255, 255, 255, 0.8) !default;
$widget-button-bgColor:       $brand-color !default;

$custom-font-path:            "../../static/fonts" !default;
$itm-font-version:            1 !default;
$fa-font-path:                "../../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
$fa-css-prefix:               fax !default;
