<!doctype html>
<html lang="{{ .Lang }}">

<head>
   {{ partial "head-meta.html" . }}

   {{ block "schema-dot-org" . }}
   <!-- schema.org metadata differs for Nodes and Pages -->
   {{ end }}

   <link rel="canonical" href="{{ .Permalink }}">
   {{ if .Site.Params.bookingEngineURL }}
   <link rel="prefetch" href="{{ .Site.Params.bookingEngineURL }}">
   {{ end }}

   {{ if .Params.meta_title }}
      <title>{{ .Params.meta_title }}</title>
   {{ else }}
      <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
   {{ end }}

   <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.Params.faviconURL }}">

   {{ $stylesheet := .Site.Data.webpack.main }}
   {{ if and .IsHome (eq (getenv "CONTEXT") "production") }}
   <style>{{ partial "build.css" | safeCSS }}</style>
      {{ with $stylesheet.css }}
   <link rel="prefetch" href="{{ relURL . }}" rel="stylesheet">
      {{ end}}
   {{ else }}
      {{ with $stylesheet.css }}
   <link href="{{ relURL . }}" rel="stylesheet">
      {{ end }}
   {{ end }}

   {{ template "_internal/google_analytics_async.html" . }}
      
   {{ partial "googleTagManagerHeader.html" . }}

   {{ partial "head-custom.html" . }}
   {{ block "custom-headers" . }}{{ end }}
</head>
{{ if ne .Site.Params.suspended true }}
<body>
   {{ partial "googleTagManagerBody.html" . }}

   {{ block "header" . }}{{ partial "header" . }}{{end}}

   <main>
   {{ block "main" . }}{{end}}
   </main>

   <section class="sticky-bottom d-block d-lg-none">
      {{ partial "sticky-bottom" . }}
   </section>
   
   {{ block "footer" . }}{{ partial "footer" . }}{{end}}

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   {{ $script := .Site.Data.webpack.main }}
   {{ with $script.js }}
   <script src="{{ relURL . }}"></script>
   {{ end }}
   
   {{ if ne .Params.hideBooker true }}
      {{ with .Site.Params.bookerURL }}
      <script async src="{{.}}"></script>
      {{ end }}
   {{ end }}
   {{ with .Site.Params.loyaltyURL }}
      <script async src="{{.}}"></script>
   {{ end }}
   {{ if eq .Params.serviceBooker true }}
      {{ with .Site.Params.servicesWidgetURL }}
         <script async src="{{.}}"></script>
      {{ end }}
   {{ end }}
</body>
{{ else }}
<body>
   {{ partial "suspended.html" . }}
</body>
{{ end }}

</html>