{{ define "main" }}
   {{ .Scratch.Set "widgetLocation" "side" }}
   {{ .Scratch.Set "banners" "" }}
   {{ .Scratch.Set "services" "" }}
   {{ if and .Params.showServicesBanners (and .Site.Params.api .Site.Params.api.services) }}
      {{ .Scratch.Set "services" (getJSON .Site.Params.api.services.name) }}
   {{ else if and .Params.showBanners (and .Site.Params.api .Site.Params.api.banners) }}
      {{ .Scratch.Set "banners" (getJSON .Site.Params.api.banners.name) }}
   {{ end }}
   {{ if and .Params.slider_txt (eq (len (.Scratch.Get "banners")) 0) }}
      {{ $customScratch := newScratch }}
      {{ range .Params.slider_txt.pics }}
         {{ $photos := (slice (dict "bannerImage" (dict "path" .path "base" $.Params.slider_txt.base ))) }}
         {{ $banner := (dict "isActive" true "title" .title "subTitle" .subTitle "photos" $photos) }}
         {{ $customScratch.Add "sliderBanners" (slice $banner) }}
      {{ end }}
      {{ .Scratch.Set "banners" ($customScratch.Get "sliderBanners") }}
   {{ end }}
   {{ if ne (len (.Scratch.Get "services")) 0 }}   
      {{ partial "main-services-carousel" . }}
   {{ else if ne (len (.Scratch.Get "banners")) 0 }}
      {{ partial "main-banner-carousel" . }}  
   {{ else if isset .Params "slider" }}
      {{ partial "main-image-carousel" . }}
   {{ else if isset .Params `featured_image` }}
      {{ partial "main-image-single-2" . }}
   {{ else }}
      {{ partial "main-text" . }}
   {{ end }}
   <section class="itm-body">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 order-last order-md-firts">
               {{ .Content }}
            </div>
            <div class="col-lg-4 mb-4 order-first order-md-last">
               {{ if .Params.showServices }}
               <div id="sidebar-widget" class="sidebar-widget">
                  <div class="sidebar-widget-container">
                     <div id="rvm-booker-container"
                        data-vertical="true"
                        data-account="{{.Site.Params.account}}"
                        {{if .Params.id }}
                        data-hotel="{{ .Params.id }}"
                        {{ end }}
                        class="itm-booker itm-booker--services"
                        {{ if .Params.showServices }}
                        data-only-show-form="SERVICES"
                        {{ end }}
                        {{if .Params.serviceType }} 
                        data-service-type="{{ .Params.serviceType }}"
                        {{ end }}
                        {{if .Params.serviceId }}
                        data-service="{{ .Params.serviceId }}"
                        {{ end }}
                     >
                     </div>
                  </div>   
               </div>
               {{ else }}
               <div id="sidebar-widget" class="sidebar-widget">
                  <div class="card itm-widget-card itm-widget-card--bordered">
                     <div class="card-body">
                        <h5 class="card-title">{{ i18n "bookNow"}}</h5>
                        <div id="rvm-booker-container"
                           data-vertical="true"
                           data-account="{{ .Site.Params.account }}"
                           data-language="{{.Site.Params.languageCode}}"
                           {{ if .Site.Params.customUri }} data-custom-uri="{{.Site.Params.customUri}}" {{ end }}
                           {{if .Params.id }} data-hotel="{{ .Params.id }}" {{ end }}
                           class="itm-booker itm-booker-vertical"
                           {{if .Params.selectedForm }} data-selected-form="{{ .Params.selectedForm }}" {{ end }}
                           {{ if .Site.Params.hideWidgetBar }} data-loadingnavbar="false" {{ end }}
                        >
                        </div>
                     </div>
                  </div>
               </div>
               {{ end }}
            </div>
         </div>
      </div>
   </section>
{{ end }}