{{ define "main" }}
   {{ .Scratch.Set "widgetLocation" "side" }}
   {{ .Scratch.Set "banners" "" }}
   {{ if and .Params.showBanners .Site.Params.bannersURL }}
      {{ .Scratch.Set "banners" (getJSON .Site.Params.bannersURL) }}
   {{ end }}
   {{ if and .Params.slider_txt (eq (len (.Scratch.Get "banners")) 0) }}
      {{ $customScratch := newScratch }}
      {{ range .Params.slider_txt.pics }}
         {{ $photos := (slice (dict "bannerImage" (dict "path" .path "base" $.Params.slider_txt.base ))) }}
         {{ $banner := (dict "isActive" true "title" .title "subTitle" .subTitle "photos" $photos) }}
         {{ $customScratch.Add "sliderBanners" (slice $banner) }}
      {{ end }}
      {{ .Scratch.Set "banners" ($customScratch.Get "sliderBanners") }}
   {{ end }}
   {{ if ne (len (.Scratch.Get "banners")) 0 }}   
      {{ partial "main-banner-carousel" . }}
   {{ else if isset .Params "slider" }}
      {{ partial "main-image-carousel" . }}
   {{ else if isset .Params `featured_image` }}
      {{ partial "main-image-single" . }}
   {{ else }}
      {{ partial "main-text" . }}
   {{ end }}
   <section class="itm-body">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 mb-4 order-lg-last">
               <div id="sidebar-widget" class="sidebar-widget">
                  <div class="card itm-widget-card itm-widget-card--bordered">
                     <div class="card-body">
                        <h5 class="card-title">{{ i18n "bookNow"}}</h5>
                        <div id="rvm-booker-container" {{if .Params.id }} data-hotel="{{ .Params.id }}" {{ end }} class="itm-booker itm-booker-vertical"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 order-lg-first">
               {{ .Content }}
            </div>
         </div>
      </div>
   </section>
{{ end }}