{{ define "main" }}
   {{ .Scratch.Set "widgetLocation" "side" }}
   {{ .Scratch.Set "banners" "" }}
   {{ .Scratch.Set "services" "" }}
   {{ if and .Params.showServicesBanners (and .Site.Params.api .Site.Params.api.services) }}
      {{ .Scratch.Set "services" (getJSON .Site.Params.api.services.name) }}
   {{ else if and .Params.showBanners (and .Site.Params.api .Site.Params.api.banners) }}
      {{ .Scratch.Set "banners" (getJSON .Site.Params.api.banners.name) }}
   {{ end }}
   {{ if and .Params.slider_txt (eq (len (.Scratch.Get "banners")) 0) }}
      {{ $customScratch := newScratch }}
      {{ range .Params.slider_txt.pics }}
         {{ $photos := (slice (dict "bannerImage" (dict "path" .path "base" $.Params.slider_txt.base ))) }}
         {{ $banner := (dict "isActive" true "title" .title "subTitle" .subTitle "photos" $photos) }}
         {{ $customScratch.Add "sliderBanners" (slice $banner) }}
      {{ end }}
      {{ .Scratch.Set "banners" ($customScratch.Get "sliderBanners") }}
   {{ end }}
   {{ if ne (len (.Scratch.Get "services")) 0 }}   
      {{ partial "main-services-carousel" . }}
   {{ else if ne (len (.Scratch.Get "banners")) 0 }}
      {{ partial "main-banner-carousel" . }}  
   {{ else if isset .Params "slider" }}
      {{ partial "main-image-carousel" . }}
   {{ else if isset .Params `featured_image` }}
      {{ partial "main-image-single" . }}
   {{ else }}
      {{ partial "main-text" . }}
   {{ end }}
   <section class="itm-body">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 mb-4 order-lg-last">
               {{ if .Params.showServices }}
                  <div id="sidebar-widget" class="sidebar-widget--service">
                     <div class="sidebar-widget-container">
                        <div class="itm-booker itm-booker--service" {{if .Params.id }} data-hotel="{{ .Params.id }}" {{ end }} {{if .Params.serviceType }} data-service-type="{{ .Params.serviceType }}" {{ end }} {{if .Params.serviceId }} data-service="{{ .Params.serviceId }}" {{ end }}>
                           <div class="sidebar-widget-loading">
                           </div>
                        </div>
                     </div>
                  </div>
               {{ else }}
                  <div id="sidebar-widget" class="sidebar-widget">
                     <div class="card itm-widget-card itm-widget-card--bordered">
                        <div class="card-body">
                           <h5 class="card-title">{{ i18n "bookNow"}}</h5>
                           <div id="rvm-booker-container" {{if .Params.id }} data-hotel="{{ .Params.id }}" {{ end }} class="itm-booker itm-booker-vertical"></div>
                        </div>
                     </div>
                  </div>
               {{ end }}
            </div>
            <div class="col-lg-8 order-lg-first itm-index-sub-zero">
               {{ .Content }}
            </div>
         </div>
      </div>
   </section>
{{ end }}