{{ $ := .main }}
{{ $version := .version }}
{{ $bookingEngineUrl := $.Site.Params.bookingEngineURL }}
{{ $customScratch := newScratch }}
{{ $customScratch.Add "classes" (slice "itm-banner-item-new") }}
{{ if .isCarousel }}
   {{ $customScratch.Add "classes" (slice "carousel-item c-item") }}
{{ end }}
{{ if .active }}
   {{ $customScratch.Add "classes" (slice "active") }}
{{ end }}
{{ $customScratch.Add "infoClasses" (slice "col-12 col-md-12") }}

{{ with .banner }}

<div class="{{ delimit ($customScratch.Get `classes`) ` ` }}">
   <picture>
      <source media="(min-width: 1200px)" srcset="{{print .desktop.base `f_auto,w_1200,h_600,c_fill,g_auto/` .desktop.path}},
      {{print .desktop.base `f_auto,w_1200,h_600,c_fill,g_auto,dpr_2/` .desktop.path}} 2x" >
      <source media="(min-width: 820px)" srcset="{{print .desktop.base `f_auto,w_992,h_480,c_fill,g_auto/` .desktop.path}},
      {{print .desktop.base `f_auto,w_992,h_480,c_fill,g_auto,dpr_2/` .desktop.path}} 2x" >
      <source media="(min-width: 768px)" srcset="{{print .desktop.base `f_auto,w_768,h_600,c_fill,g_auto/` .desktop.path}},
      {{print .desktop.base `f_auto,w_768,h_600,c_fill,g_auto,dpr_2/` .desktop.path}} 2x" >
      <source media="(max-width: 767px)" srcset="{{print .desktop.base `f_auto,w_375,h_433,c_fill,g_auto/` .desktop.path}},
      {{print .desktop.base `f_auto,w_375,h_433,c_fill,g_auto,dpr_2/` .desktop.path}} 2x" >
      <img src="{{print .desktop.base `f_auto,w_992,h_480,c_fill,g_auto,dpr_2/` .image.path}}" style="{{.desktop.styles | safeCSS}}" />
   </picture>
</div>

{{ end }}