{{ $ := .main }}
{{ $bookingEngineUrl := $.Site.Params.bookingEngineURL }}
{{ $video := $.Params.featured_video }}
{{ $customScratch := newScratch }}
{{ $customScratch.Add "classes" (slice "itm-banner-item") }}
{{ if .isCarousel }}
   {{ $customScratch.Add "classes" (slice "carousel-item") }}
{{ end }}
{{ if .active }}
   {{ $customScratch.Add "classes" (slice "active") }}
{{ end }}

{{ $isVertical := $.Site.Params.widgetVertical }}
{{ $customScratch.Add "infoClasses" (slice "col-12") }}

{{ if eq $.Params.widgetMode "vertical" }}
   {{ $isVertical = true }}
{{ else if eq $.Params.widgetMode "horizontal" }}
   {{ $isVertical = false }}
{{ end }}

{{ if $isVertical }}
   {{ $customScratch.Add "infoClasses" (slice "col-md-6" "col-lg-7" "col-xl-8") }}
{{ else }}
   {{ $customScratch.Add "infoClasses" (slice "col-md-12") }}
{{ end }}


{{ if eq $.Params.keepAspectRatio true }}
   {{ $customScratch.Add "infoClasses" (slice "col-sm-9" ) }}
   {{ $customScratch.Add "extraInfoClasses" (slice "col-12" "d-block" "d-md-none" "itm-banner-extra-info") }}
{{ else }}
   {{ $customScratch.Add "extraInfoClasses" (slice "d-none" ) }}
{{ end }}


{{ with .banner }}

{{ $actionLink := $bookingEngineUrl }}
{{ if .promotion }}
   {{ $showHotel := $.Site.Params.promotionsShowHotel }}
   {{ $lastValidDate := time .promotion.lastValidDate }}
   {{ $startDate := dateFormat "2006-01-02" ($lastValidDate.AddDate 0 0 -2) }}
   {{ $params := slice "/" (i18n "roomsUri") "/" $startDate "/" .promotion.lastValidDate "?r[0].adults=2&r[0].children=0" }}
   {{ $query := delimit $params "" }}
   {{ if and $showHotel .promotion.hotel }}
      {{ $actionLink = print $bookingEngineUrl "#/s/" .promotion.hotel.id ($query | safeURL) }}
   {{ else }}
      {{ $actionLink = print $bookingEngineUrl "#" ($query | safeURL) }}
   {{ end }}

{{ end }}

{{ if .image }}
   <div 
      class="{{ delimit ($customScratch.Get `classes`) ` ` }}"
      style="background-image: url({{ print .image.base `f_auto,w_1280,h_600,b_black,o_70,c_fill/` .image.path }})">
      {{ if $video }}
      <div class="itm-video-background">
         <div class="itm-video-foreground">
            <video autoplay="" muted="" loop="" class="itm-video">
               <source src="{{$video}}" type="video/mp4">
            </video>         </div>
      </div>
      {{ end }}
      {{ if (or .title .subTitle) }}
      <div class="container itm-banner-info-container itm-banner-info-container--dark">
         <div class="row">
            <div class="{{ delimit ($customScratch.Get `infoClasses`) ` ` }}">
               {{ partial "banner-info" (dict "title" .title "subTitle" .subTitle "actionText" .actionText "labelText" .labelText "actionLink" $actionLink "promotion" .promotion "main" $) }}
            </div>
            {{ if .actionText }}
            <div class="{{ delimit ($customScratch.Get `extraInfoClasses`) ` ` }}">
               <a href="{{ $actionLink }}" class="btn btn-success btn-sm">{{ .actionText | markdownify }}</a>
            </div>
            {{end}}
         </div>
      </div>
      {{ end }}
   </div>
{{ end }}

{{ end }}