{{ $deal := .deal }} 
{{ $showHotel := .Site.Params.promotionsShowHotel | default "false" }}
{{ $bookingEngineURL := .bookingEngineURL }}
{{ $promotionCode := $deal.promotionCode }} 
{{ $lastTravelWindowDate := $deal.lastTravelWindowDate }}
{{ $hotelId := $deal.hotel.id }} 
{{ $startDate := $deal.firstValidDate }} 
{{ $endDate := $deal.lastValidDate }} 
{{ $externalUrl := $deal.externalUrl }} 
{{ $url := "" }} 

{{ if $externalUrl }}
{{ $url = $externalUrl }}
{{ $url = replace $url "{startDate}" $startDate }}
{{ $url = replace $url "{endDate}" $endDate }}
{{ $url = replace $url "{rooms}" 1 }}
{{ $url = replace $url "{adults}" 2 }}
{{ $url = replace $url "{children}" 0 }}
{{ $url = replace $url "{childrenAges}" " " }}
{{ if $promotionCode }}
  {{ $url = printf "%s&pc=%s" $url $promotionCode }}
{{ end }}
{{ else }}
  {{ $url = $bookingEngineURL }}
  {{ if eq $showHotel "true" }}
  {{ $url = printf "%s%s/" $url $hotelId }} 
{{ end }}
{{ $url = printf "%srooms?checkIn=%s&checkOut=%s&rooms[0].adults=2&rooms[0].children=0" $url $startDate $endDate }} 
{{ if $promotionCode }}
  {{ $url = printf "%s&pc=%s" $url $promotionCode }}
{{ end }}
{{ end }}

{{ return $url }}
