{{ $base := .imageBase }}
{{ $bucket := .imageBucket }}
{{ $bookingEngineURL := .bookingEngineURL }}
{{ $showHotel := .showHotel }}
{{ $alignment := .alignment }}
{{ $imageAsBackground := .imageAsBackground }}

{{ with .deal }}
{{ $lastTravelDate := time .lastTravelWindowDate }}
{{ $startDate := dateFormat "2006-01-02" ($lastTravelDate.AddDate 0 0 -2) }}
{{ $lastValidDate := time .lastValidDate }}
{{ $monthMap := dict "January" "enero" "February" "febrero" "March" "marzo" "April" "abril" "May" "mayo" "June" "junio" "July" "julio" "August" "agosto" "September" "septiembre" "October" "octubre" "November" "noviembre" "December" "diciembre" }}

{{ $day := $lastValidDate.Format "2" }}
{{ $month := $lastValidDate.Format "January" }}
{{ $year := $lastValidDate.Format "2006" }}
{{ $monthEs := index $monthMap $month }}

{{ $categories := "" }}

{{ range .categories }}
  {{ if eq $categories "" }}
    {{ $categories = print "" .categoryPromotionId }}
  {{ else }}
    {{ $categories = print $categories "," .categoryPromotionId }}
  {{ end }}
{{ end }}
<div class="row listItem listItem-deal 
   {{ if $alignment }}{{ if eq $alignment "right" }} listItem--right{{ else if eq $alignment "left" }} listItem--left{{ end }}{{ end }}
   {{ if eq $imageAsBackground "true" }} listItem--background{{ end }}" 
   data-categories="{{ $categories }}" 
   data-hotelId={{ .hotel.id }}>

  {{ if eq $imageAsBackground "true"  }}
    {{ $image := index .photos 0 }}
    <div class="listItem-pic listItem-pic--background" style="background-image: url( {{ print $base `f_auto,h_252,w_448,c_fill/` $bucket `/` $image.path }})">
      {{ if and (.discountPercentage) (gt .discountPercentage 0) }}
        <p class="discount-amount">-{{ .discountPercentageComplete }}</p>
      {{ end }}
      <div>

      </div>
      <div class="listItem-content">
        <h2 class="listItem-title">{{ .title | markdownify }}</h2>
        <p class="listItemdeal-description">{{ .description | markdownify }}</p>
        <p class="deal2-inludes"><strong>{{ i18n "dealIncludes"}}</strong></p>
        <ul class="deal2-inludes-list">
           {{ range .includesDescription }}
           <li>{{ . }}</li>
           {{ end }}
        </ul>
        <p class="listItemdeal-vigency">
          {{ i18n "deal2.vigency" (dict "Day" $day "Month" $monthEs "Year" $year) }}
          </p>

         <a href="{{ $bookingEngineURL }}" class="btn btn-primary btn-deal-2">{{ i18n "deal.seeNow"}}</a>
         <div class="deal-conditions dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <small>{{ i18n "dealTerms"}}</small></a>
          <div class="dropdown-menu">
             <ul>
                {{ range .termsAndConditions}}
                <li>{{ . }}</li>
                {{ end }}
                <li>
                   {{ i18n "bookingDates" }}:
                   <ul>
                      {{ range .bookingWindowPeriods }}
                      <li>{{ .description | humanize }}</li>
                      {{ end }}
                   </ul>
                </li>
                <li>
                   {{ i18n "travelDates" }}:
                   <ul>
                      {{ range .travelWindowPeriods }}
                      <li>{{ .description | humanize }}</li>
                      {{ end }}
                   </ul>
                </li>
             </ul>
          </div>
       </div>
      </div>
    </div>
  {{ else }}
    <div class="listItem-content listItem-content--{{ $alignment }}">
      <h2 class="listItem-title">{{ .title | markdownify }}</h2>
      <p class="listItemdeal-description">{{ .description | markdownify }}</p>
      <p class="deal2-inludes"><strong>{{ i18n "dealIncludes"}}</strong></p>
      <ul class="deal2-inludes-list">
         {{ range .includesDescription }}
         <li>{{ . }}</li>
         {{ end }}
      </ul>       
      <p class="listItemdeal-vigency">{{ i18n "deal2.vigency" (dict "Day" $day "Month" $monthEs "Year" $year) }}
      </p>


      <a href="{{ $bookingEngineURL }}" class="btn btn-primary btn-deal-2">{{ i18n "deal.seeNow"}}</a>
      <div class="deal-conditions dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <small>{{ i18n "dealTerms"}}</small></a>
        <div class="dropdown-menu">
           <ul>
              {{ range .termsAndConditions}}
              <li>{{ . }}</li>
              {{ end }}
              <li>
                 {{ i18n "bookingDates" }}:
                 <ul>
                    {{ range .bookingWindowPeriods }}
                    <li>{{ .description | humanize }}</li>
                    {{ end }}
                 </ul>
              </li>
              <li>
                 {{ i18n "travelDates" }}:
                 <ul>
                    {{ range .travelWindowPeriods }}
                    <li>{{ .description | humanize }}</li>
                    {{ end }}
                 </ul>
              </li>
           </ul>
        </div>
     </div>
    </div>
    <div class="listItem-pic listItem-pic--{{ $alignment }}">
      {{ $image := index .photos 0 }}
      <img src="{{ print $base `f_auto,h_252,w_448,c_fill/` $bucket `/` $image.path }}" alt="{{ .title }}">
    </div>
  {{ end }}

</div>
{{ end }}