{{ $base := .imageBase }}
{{ $bucket := .imageBucket }}
{{ $bookingEngineURL := .bookingEngineURL }}
{{ $showHotel := .showHotel}}

{{ with .deal}}
{{ $lastTravelDate := time .lastTravelWindowDate }}
{{ $startDate := dateFormat "2006-01-02" ($lastTravelDate.AddDate 0 0 -2) }}
<div class="row listItem listItem-deal">
   {{if .photos }}
   {{ $image := index .photos 0 }}
   <div class="listItem-pic" style="background-image: url( {{ print $base `f_auto,h_252,w_448,c_fill/` $bucket `/` $image.path }})">
      {{ if and (.discountPercentage) (gt .discountPercentage 0) }}
      <p class="discount-amount">
         -{{ .discountPercentageComplete }}
      </p>
      {{ end }}
   </div>
   {{else}}
   <div class="listItem-pic listItem-pic--empty">
      {{ if and (.discountPercentage) (gt .discountPercentage 0) }}
      <p class="discount-amount">
         -{{ .discountPercentageComplete }}
      </p>
      {{ end }}
   </div>
   {{end}}
   <div class="listItem-info listItem-info--full">
      {{ if .title}}
      <h2 class="listItem-title">{{ .title | markdownify }} {{ if and $showHotel .hotel }}<div class="listItem-subtitle">{{.hotel.name}}</div>{{end}}</h2>
      {{else}}
      <h2 class="listItem-title">{{ i18n "promotion" }} {{ if and $showHotel .hotel }}<div class="listItem-subtitle">{{.hotel.name}}</div>{{end}}</h2>
      {{end}}
      
      <div class="listItem-shortDesc">
         <div class="deal-includes">
            {{ if .description }}
            <blockquote>{{ .description | markdownify }}</blockquote>
            {{ end }}
            {{ if and .lastValidDate .showBeforeFinish }}
            <div class="badge badge-warning itm-timer-badge d-none">
               <i class="far fax-clock mr-2" ></i>
               {{ i18n "hurryUp"}}
               <span class="font-weight-bold" data-countdown="{{.lastValidDate}}" data-includelastday="true"></span>
            </div>
            {{ end }}
            {{ if and .firstValidDate .showBeforeStart }}
            <div class="badge badge-success itm-timer-badge d-none">
               <i class="far fax-clock mr-2" ></i>
               {{ i18n "promotionStarts"}}
               <span class="font-weight-bold" data-countdown="{{.firstValidDate}}"></span>
            </div>
            {{ end }}
            <p><strong>{{ i18n "dealIncludes"}}</strong></p>
            <ul>
               {{ range .includesDescription }}
               <li>{{ . }}</li>
               {{ end }}
            </ul>
            <div class="deal-conditions dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <small>{{ i18n "dealTerms"}}</small></a>
               <div class="dropdown-menu">
                  <ul>
                     {{ range .termsAndConditions}}
                     <li>{{ . }}</li>
                     {{ end }}
                     <li>
                        {{ i18n "bookingDates" }}:
                        <ul>
                           {{ range .bookingWindowPeriods }}
                           <li>{{ .description | humanize }}</li>
                           {{ end }}
                        </ul>
                     </li>
                     <li>
                        {{ i18n "travelDates" }}:
                        <ul>
                           {{ range .travelWindowPeriods }}
                           <li>{{ .description | humanize }}</li>
                           {{ end }}
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="listItem-actions">
         {{ $params := slice "/" (i18n "roomsUri") "/" $startDate "/" $lastTravelDate "?r[0].adults=2&r[0].children=0" }}
         {{ $query := delimit $params "" }}
         {{ if and $showHotel .hotel }}
         <a href="{{ $bookingEngineURL }}#/s/{{ .hotel.id }}{{ $query | safeURL }}" class="btn btn-primary">{{ i18n "bookNow"}}</a>
         {{ else }}
         <a href="{{ $bookingEngineURL }}#{{ $query | safeURL }}" class="btn btn-primary">{{ i18n "bookNow"}}</a>
         {{end}}
      </div>
   </div>
</div>
{{end}}
