<!-- 
  Default (empty) font loading partial.
  Override this in site/layouts/partials/head-fonts.html to load custom fonts.
  
  Example for Google Fonts with non-blocking loading:
  
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" as="style" href="YOUR_GOOGLE_FONTS_URL" />
  <link rel="stylesheet" href="YOUR_GOOGLE_FONTS_URL" media="print" onload="this.media='all'" />
  <noscript><link rel="stylesheet" href="YOUR_GOOGLE_FONTS_URL" /></noscript>
-->

<link rel="preconnect" href="https://fonts.googleapis.com" />
