{{ $customScratch := newScratch }}
{{ $customScratch.Add "headerClasses" (slice "itm-header") }}
{{ if or (eq .Params.bannerFullScreen true) (eq .Params.banner.fullscreen true) }}
   {{ $customScratch.Add "headerClasses" (slice "itm-header--fullscreen") }}
{{ end }}
{{ if eq .Params.topbarTransparent true }}
   {{ $customScratch.Add "headerClasses" (slice "itm-header--topbar-transparent") }}
{{ end }}
{{ if eq .Params.navbarTransparent true }}
   {{ $customScratch.Add "headerClasses" (slice "itm-header--navbar-transparent") }}
{{ end }}

<header class="{{ delimit ($customScratch.Get `headerClasses`) ` ` }}">
   <!--TOP-->
   {{ partial "topbar" . }}
   <!--NAVBAR-->
   {{ partial "navbar" . }}
</header>