{{ $customScratch := newScratch }}
{{ $navbarVersion := 1 }}
{{ if .Site.Params.navbarVersion }}
   {{ $navbarVersion = .Site.Params.navbarVersion }}
{{ end }}
{{ $customScratch.Add "headerClasses" (slice "itm-header") }}
{{ if and  (or (eq .Params.bannerFullScreen true) (eq .Params.banner.fullscreen true)) (not (eq $navbarVersion 2)) }}
   {{ $customScratch.Add "headerClasses" (slice "itm-header--fullscreen") }}
{{ end }}
{{ if eq .Params.topbarTransparent true }}
   {{ $customScratch.Add "headerClasses" (slice "itm-header--topbar-transparent") }}
{{ end }}
{{ if eq .Params.navbarTransparent true }}
   {{ $customScratch.Add "headerClasses" (slice "itm-header--navbar-transparent") }}
{{ end }}
<header class="{{ delimit ($customScratch.Get `headerClasses`) ` ` }}">
   {{ if (eq $.Site.Params.showBenefitsTopbar true) }}
      {{ partial "benefits-topbar" . }}
   {{ end }}

   {{ if eq $navbarVersion 2 }}
      {{ partial "navbarv2" . }}
   {{ else  }}
      {{ partial "topbar" . }}
      {{ partial "navbar" . }}
   {{ end}}
</header>
