{{ $customScratch := newScratch }}
{{ $customScratch.Add "stageClasses" (slice "itm-stage") }}
{{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container") }}

{{ $customScratch.Add "infoColumnClasses" (slice "col-12") }}

{{ if eq .Params.keepAspectRatio true }}
   {{ $customScratch.Add "stageClasses" (slice "itm-stage--vconstrained") }}
   {{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container--aspectRatio") }}
   {{ $customScratch.Add "infoColumnClasses" (slice "d-none" "d-md-block") }}
   {{ if ne .Params.bannerFullWidth true }}
      {{ $customScratch.Add "stageClasses" (slice "itm-stage--hconstrained") }}
   {{ end }}
{{ else }}
   {{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container--absolute") }}
{{ end }}

{{ $isVertical := .Site.Params.widgetVertical }}
{{ if eq .Params.widgetMode "vertical" }}
   {{ $isVertical = true }}
{{ else if eq .Params.widgetMode "horizontal" }}
   {{ $isVertical = false }}
{{ end }}

{{ if $isVertical }}
   {{ $customScratch.Add "infoColumnClasses" (slice "col-md-6" "col-lg-8") }}
{{ end }}

<div class="{{ delimit ($customScratch.Get `stageClasses`) ` ` }}">
   <div class="{{ delimit ($customScratch.Get `bannerContainerClasses`) ` ` }}">
   {{ $banner := dict "image" (dict "path" .Params.featured_image.path "base" .Params.featured_image.base) }}
   {{ partial "banner" (dict "banner" $banner "main" $) }}
   {{ if eq .Params.keepAspectRatio true }}
   <div class="container itm-banner-info-container itm-banner-info-container--dark d-md-none">
      <div class="row">
         <div class="col-12">
            {{ partial "banner-info" (dict "title" .Title "subTitle" .Description "customClass" "my-0" "main" $) }}
         </div>
      </div>
   </div>
   {{ end }}
   </div>
   <div class="container itm-banner-info-container itm-banner-info-container--dark">
      <div class="row">
         <div class="{{ delimit ($customScratch.Get `infoColumnClasses`) ` ` }}">
            {{ partial "banner-info" (dict "title" .Title "subTitle" .Description "main" $) }}
         </div>
         {{ if $isVertical }}
         <div class="col-12 col-md-6 col-lg-4">
            {{ partial "widget-card" . }}              
         </div>
         {{end}}
      </div>
   </div>
   {{ if not $isVertical }}
   {{ partial "widget-container" . }}
   {{ end }}
</div>