{{ $base := .Site.Params.imageBase }}
{{ $services := .Scratch.Get "services" }}
{{ $customScratch := newScratch }}
{{ $customScratch.Add "stageClasses" (slice "itm-stage" ) }}
{{ $customScratch.Add "bannerContainerClasses" (slice "carousel" "slide" "carousel-fade" "itm-banner-container" ) }}
{{ $serviceId := 0 }}
{{ $serviceType := "" }}

{{ if eq .Params.keepAspectRatio true }}
   {{ $customScratch.Add "stageClasses" (slice "itm-stage--vconstrained") }}
   {{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container--aspectRatio") }}
   {{ if ne .Params.bannerFullWidth true }}
      {{ $customScratch.Add "stageClasses" (slice "itm-stage--hconstrained") }}
   {{ end }}
{{ else }}
   {{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container--absoluteFixed") }}
{{ end }}

{{ if eq .Params.bannerFullScreen true }}
   {{ $customScratch.Add "stageClasses" (slice "itm-stage--fullscreen") }}
{{ end }}
{{ if eq .Params.bannerFullscreenTheme "light" }}
   {{ $customScratch.Add "stageClasses" (slice "itm-stage--light") }}
{{ end }}
{{ if eq .Params.bannerFullscreenTheme "dark" }}
   {{ $customScratch.Add "stageClasses" (slice "itm-stage--dark") }}
{{ end }}
{{ with .Params.serviceId }}
   {{ $serviceId = . }}
{{ end }}
{{ with .Params.serviceType }}
   {{ $serviceType = . }}
{{ end }}

<div class="{{ delimit ($customScratch.Get `stageClasses`) ` ` }}">
   <div id="itm-ap-slider" class="{{ delimit ($customScratch.Get `bannerContainerClasses`) ` ` }}" data-ride="carousel">
      <div class="carousel-inner">
         {{ $index := 0 }}
         {{ range $element := where $services "isActive" true }}
            {{ if and (or (eq (int $serviceId) 0) (eq (int .id) (int $serviceId))) (or (eq $serviceType "") (eq $serviceType .addonType)) }}
               {{ if $element.photos }}
                  {{ $image := index .photos 0 }}
                  {{ $segments := split $image.basePath "/"}}
                  {{ $lastIndex := sub (len $segments) 2 }}
                  {{ $bucket := index $segments $lastIndex }}
                  {{ $bannerImage := (dict "path" (print $bucket `/` $image.path) "base" $base) }}
                  {{ if $image.bannerImage }}
                     {{ $bannerImage = $image.bannerImage }}
                  {{ end }}
                  {{ $banner := dict "image" $bannerImage }}
                  {{ partial "banner" (dict "active" (eq $index 0) "isCarousel" true "banner" $banner "main" $) }}
                  {{ $index = add $index 1 }}
               {{ end }}
            {{ end }}
         {{ end }}
      </div>
      <ol class="carousel-indicators">
         {{ $index = 0 }}
         {{ range $element := where $services "isActive" true }}
            {{ if and (or (eq (int $serviceId) 0) (eq (int .id) (int $serviceId))) (or (eq $serviceType "") (eq $serviceType .addonType)) }}
               <li data-target="#itm-ap-slider" data-slide-to="{{$index}}" class="{{if eq $index 0}}active{{end}}"></li>
               {{ $index = add $index 1 }}
            {{ end }}
         {{ end }}
      </ol>
   </div>
   {{ partial "widget-container" . }}
</div>
