{{ $widgetLocation := .Scratch.Get "widgetLocation" }}
{{ $base := .Params.slider.base }}
{{ $banners := split .Params.slider.pics ","}}
{{ $customScratch := newScratch }}
{{ $customScratch.Add "stageClasses" (slice "itm-stage") }}
{{ $customScratch.Add "bannerContainerClasses" (slice "carousel" "slide" "carousel-fade" "itm-banner-container") }}

{{ $customScratch.Add "infoColumnClasses" (slice "col-12") }}

{{ if eq .Params.keepAspectRatio true }}
   {{ $customScratch.Add "stageClasses" (slice "itm-stage--vconstrained") }}
   {{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container--aspectRatio") }}
   {{ $customScratch.Add "infoColumnClasses" (slice "d-none" "d-md-block") }}
   {{ if ne .Params.bannerFullWidth true }}
      {{ $customScratch.Add "stageClasses" (slice "itm-stage--hconstrained") }}
   {{ end }}
{{ else }}
   {{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container--absolute") }}
{{ end }}

{{ $isVertical := .Site.Params.widgetVertical }}
{{ if eq .Params.widgetMode "vertical" }}
   {{ $isVertical = true }}
{{ else if eq .Params.widgetMode "horizontal" }}
   {{ $isVertical = false }}
{{ end }}

{{ if and $isVertical (eq $widgetLocation "top") }}
   {{ $customScratch.Add "infoColumnClasses" (slice "col-md-6" "col-lg-7" "col-xl-8") }}
{{ end }}

{{ $version := "1" }}
{{ if .Site.Params.newBookerURL }}
   {{ $version = "2"}}
{{ end}}

<div class="{{ delimit ($customScratch.Get `stageClasses`) ` ` }}">
   <div id="itm-ap-slider" class="{{ delimit ($customScratch.Get `bannerContainerClasses`) ` ` }}">
      <div class="carousel-inner">
         {{ range $index, $element := $banners }}
            {{ $banner := dict "image" (dict "path" $element "base" $base) }}
            {{ partial "banner" (dict "active" (eq $index 0) "isCarousel" true "banner" $banner "version" $version "main" $) }}
         {{ end }}
      </div>
      <ol class="carousel-indicators">
         {{ range $index, $element := $banners }}
         <li data-target="#itm-ap-slider" data-slide-to="{{$index}}" class="{{if eq $index 0}}active{{end}}"></li>
         {{ end }}
      </ol>
      {{ if eq .Params.keepAspectRatio true }}
      <div class="container itm-banner-info-container itm-banner-info-container--dark d-md-none">
         <div class="row">
            <div class="col-12">
               {{ if ne .Params.hideTitle true }}
               {{ partial "banner-info" (dict "title" .Title "subTitle" .Description "customClass" "my-0" "main" $) }}
               {{ end }}
            </div>
         </div>
      </div>
      {{ end }}
   </div>
   <div class="container itm-banner-info-container itm-banner-info-container--dark">
      <div class="row">
         <div class="{{ delimit ($customScratch.Get `infoColumnClasses`) ` ` }}">
            {{ if ne .Params.hideTitle true }}
            {{ partial "banner-info" (dict "title" .Title "subTitle" .Description "main" $) }}
            {{ end }}
         </div>
         {{ if $isVertical }}
         <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            {{ partial "widget-card" . }}              
         </div>
         {{end}}
      </div>
   </div>
   {{ if not $isVertical }}
   {{ partial "widget-container" . }}
   {{ end }}
</div>