{{ $widgetLocation := .Scratch.Get "widgetLocation" }}
{{ $customScratch := newScratch }}
{{ $customScratch.Add "stageClasses" (slice "itm-stage-new") }}
{{ if eq .Params.bannerFullScreen true }}
   {{ $customScratch.Add "stageClasses" (slice "itm-stage-new--fullscreen") }}
{{ end }}
{{ $customScratch.Add "bannerContainerClasses" (slice "itm-banner-container-new") }}
{{ $customScratch.Add "infoColumnClasses" (slice "col-12") }}

{{ $isVertical := .Site.Params.widgetVertical }}
{{ if eq .Params.widgetMode "vertical" }}
   {{ $isVertical = true }}
{{ else if eq .Params.widgetMode "horizontal" }}
   {{ $isVertical = false }}
{{ end }}

{{ if and $isVertical (eq $widgetLocation "top") }}
   {{ $customScratch.Add "infoColumnClasses" (slice "col-md-6" "col-lg-7" "col-xl-8") }}
{{ end }}
{{ if ne $isVertical true }}
{{ $customScratch.Add "stageClasses" (slice "itm-stage-new--horizontal-between") }}
{{ end }}

<div class="{{ delimit ($customScratch.Get `stageClasses`) ` ` }}">
   <div class="{{ delimit ($customScratch.Get `bannerContainerClasses`) ` ` }}">
   {{ $banner := dict "image" (dict "path" .Params.featured_image.path "base" .Params.featured_image.base) }}
   {{ partial "banner2" (dict "banner" $banner "main" $) }}
   </div>
   <div class="container itm-banner-info-container itm-banner-info-container--dark">
      <div class="row">
         <div class="{{ delimit ($customScratch.Get `infoColumnClasses`) ` ` }}">
            {{ if ne .Params.hideTitle true }}
            {{ partial "banner-info" (dict "title" .Title "subTitle" .Description "main" $) }}
            {{ end }}
         </div>
         {{ if $isVertical }}
         <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            {{ partial "widget-card" . }}              
         </div>
         {{end}}
      </div>
   </div>
   {{ if not $isVertical }}
   {{ partial "widget-container-2" . }}
   {{ end }}

   {{ if eq .Params.showScrollButton true }}
   <a href="#content" class="scroll-button d-none d-md-inline-block">
      <span class="fa fa-chevron-down"></span>
   </a>
   {{ end }}
</div>

{{ if eq .Params.showScrollButton true }}
<div id="content"></div>
{{ end }}