{{ $customScratch := newScratch }}
{{ $customScratch.Add "stageClasses" (slice "itm-stage" "itm-stage--solid") }}
{{ $customScratch.Add "infoColumnClasses" (slice "col-12") }}

{{ $isVertical := .Site.Params.widgetVertical }}
{{ if eq .Params.widgetMode "vertical" }}
   {{ $isVertical = true }}
{{ else if eq .Params.widgetMode "horizontal" }}
   {{ $isVertical = false }}
{{ end }}

{{ if $isVertical }}
   {{ $customScratch.Add "infoColumnClasses" (slice "col-md-6" "col-lg-8") }}
{{ end }}

<div class="{{ delimit ($customScratch.Get `stageClasses`) ` ` }}">
   <div class="container">
      <div class="row itm-banner-info-container">
         <div class="{{ delimit ($customScratch.Get `infoColumnClasses`) ` ` }}">
            {{ if ne .Params.hideBooker true }}
               {{ partial "banner-info" (dict "title" .Title "subTitle" .Description "main" $) }}
            {{ else }}
            <div class="my-3 itm-simple-info">
               {{ if .Title }}
                  <h1>{{.Title | markdownify}}</h1>
               {{ end }}
               {{ if .Description }}
                  <p class="text-muted">{{ .Description | markdownify }}</p>
               {{ end }}
                {{ with .Date }}
                {{ $formattedDate := .Format "2 de Enero, 2006" | safeHTML }}
                <p class="font-weight-normal">{{ $formattedDate }}</p>
                {{ end }}
            </div>
            {{ end }}
         </div>
         {{ if $isVertical }}
         <div class="col-12 col-md-6 col-lg-4">
            {{ partial "widget-card" . }}              
         </div>
         {{end}}
      </div>
   </div>
   {{ if not $isVertical }}
   {{ partial "widget-container" . }}
   {{ end }}
</div>
