{{ $base := .imageBase }}
{{ $bucket := .imageBucket }}
{{ $bookingEngineURL := .bookingEngineURL }}

{{ with .room}}
<div class="row listItem listItem-room">
   {{if .photos }}
      {{ $image := index .photos 0 }}
   <div class="listItem-pic photo-gallery-thumb" style="background-image: url( {{ print $base `f_auto,h_400,c_fill/` $bucket `/` $image.path }})">
      {{ if gt (len .photos) 0 }}
      <a class="photo-gallery-thumb-item" href="{{ print $base `f_auto,w_800,h_600,c_fit/` $bucket `/` $image.path }}"><i class="fas fax-images fax-lg"></i></a>
         {{ range $index, $element := .photos }}
            {{ if gt $index 0}}
      <div class="photo-gallery-thumb-item d-none" data-mfp-src="{{ print $base `f_auto,w_800,h_600,c_fit/` $bucket `/` $element.path }}"></div>
            {{ end }}
         {{ end }}
      {{ end }}
   </div>
   {{ else }}
   <div class="listItem-pic listItem-pic--empty">
   </div>
   {{ end}}
   <div class="listItem-info listItem-info--full">
      {{ with .name }}
      <h4 class="listItem-title">{{ . | markdownify }}</h4>
      {{ end}}
      <div class="listItem-data">
         {{ if .capacity }}
         <div class="room-data-pax"><i class="fas fax-user mr-1"></i>{{ .capacity }}</div>
         {{ end }}
         {{ if .bedding }}
         <div class="room-data-bed"><i class="fas fax-bed mr-1"></i>{{ .bedding }}</div>
         {{ end }}
      </div>
      {{ if .description }}
      <div class="listItem-shortDesc">
         {{ .description  | safeHTML }}
      </div>
      {{ end }}
      {{ if .amenities}}
      <h6>{{ i18n "amenities" }}</h6>
      <ul class="row small list-unstyled list-amenities">
         {{ range $amenity := .amenities }}
         <li class="col-6 col-md-4"><i class="fas fax-check mr-2"></i>{{ $amenity.name }}</li>
         {{ end}}
      </ul>
      {{ end }}
   </div>
</div>
{{ end }}