{{ $base := .imageBase }}

{{ with .service}}
   <div class="row">
      <div class="col col-xs-12">
         {{ with .title }}
            <h2 class="listItem-title">{{ . | markdownify }}</h2>
         {{ end }}
         {{ with .description }}
            <p class="listItem-description">{{ . | markdownify }}</p>
         {{ end }}
      </div>
   </div>
   {{ $mainPhotos := .photos}}
   {{ $chargeType := .chargeType }}
   {{ range .variations }}
      <div class="row listItem listItem-room">
         {{if .photos }}
            {{ $image := index .photos 0 }}
            {{ $segments := split $image.basePath "/"}}
            {{ $lastIndex := sub (len $segments) 2 }}
            {{ $bucket := index $segments $lastIndex }}
         <div class="listItem-pic" style="background-image: url( {{ print $base "f_auto,h_400,c_fill/" $bucket "/" $image.path }})">
         </div>
         {{ else if $mainPhotos}}
            {{ $image := index $mainPhotos 0 }}
            {{ $segments := split $image.basePath "/"}}
            {{ $lastIndex := sub (len $segments) 2 }}
            {{ $bucket := index $segments $lastIndex }}
         <div class="listItem-pic" style="background-image: url( {{ print $base "f_auto,h_400,c_fill/" $bucket "/" $image.path }})">
         </div>
         {{ else }}
         <div class="listItem-pic listItem-pic--empty">
         </div>
         {{ end}}
         <div class="listItem-info listItem-info--full">
            <h2 class="listItem-title">{{.name}}</h2>
            <div class="listItem-shortDesc">
               <p>{{.description}}</p>
               <h5>{{ i18n "prices"}}</h5>
               {{ if eq $chargeType "PERSON_PRICE" }}
                  <strong>{{ i18n "perPerson" }}:</strong> ${{ lang.NumFmt 0 .ratePrice.priceAdult "- . ," }} {{ .ratePrice.currency }}
               {{ else }}
                  <strong>{{ i18n "adults" }}:</strong> ${{ lang.NumFmt 0 .ratePrice.priceAdult "- . ," }} {{ .ratePrice.currency }}
                  <strong>{{ i18n "minors" }}:</strong> ${{ lang.NumFmt 0 .ratePrice.priceChild "- . ," }} {{ .ratePrice.currency }}
               {{end}}
            </div>
         </div>
      </div>
   {{ end }}
   <h2>{{i18n "dealTerms"}}</h2>
   <ul>
      {{ range .restrictions }}
      <li>{{ . | markdownify }}</li>
      {{ end}}
   </ul>
{{ end }}