<div class="itm-header-top">
   <div class="container clearfix">
      <div class="float-left itm-header-top-contact">
         <ul class="list-inline mb-0">
            {{ with .Site.Params.hotelPhone }}<li class="list-inline-item"><i class="fas fax-phone mr-2"></i>{{.}}</li>{{ end }}
            {{ with .Site.Params.hotelEmail }}<li class="list-inline-item"><a href="#"><i class="fas fax-envelope mr-2"></i>{{.}}</a></li>{{ end }}
         </ul>
      </div>
      
      <div class="float-right itm-header-top-lang">
         {{ if .IsTranslated }}
         <div class="dropdown pr-2">
            <a class="dropdown-toggle" href="#" role="button" id="lang-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{ .Site.Language.LanguageName }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang-selector">
               {{ range .Translations }}
                  <a class="dropdown-item" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
               {{ end}}
            </div>
         </div>
         {{ else }}
         <div class="pr-4">
            <a>{{ .Site.Language.LanguageName }}</a>
         </div>
         {{ end }}
      </div>
      
      {{ if and .Site.Menus.top .Site.Params.showTopMenu }}
      <ul class="float-right nav nav-top itm-header-top-nav">
      {{ range .Site.Menus.top }}
         <li>
            <a  href="{{.URL | absURL }}">{{ .Name }}</a>
         </li>
      {{ end }}
      </ul>
      {{ end }}	
   </div>
</div>