<div class="booking-modal" id="bookerModal" tabindex="-1" aria-labelledby="bookerModalLabel" aria-hidden="true">
    <div class="booking-modal-dialog">
       <div class="booking-modal-content">
          <div class="modal-header d-flex d-md-none">
             <h5 class="modal-title" id="bookerModalLabel">{{ i18n "bookNow"}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="itm-widget-card itm-widget-card--horizontal">
             <div class="card-body">
             <div id="rvm-booker-container"
               data-account="{{.Site.Params.account}}"
               {{if .Params.id }} data-hotel="{{ .Params.id }}" {{ end }}
               {{if .Params.selectedForm }} data-selected-form="{{ .Params.selectedForm }}" {{ end }}
               {{ if .Site.Params.hideWidgetBar }} data-loadingnavbar="false" {{ end }}
               class="itm-booker itm-booker-horizontal">
             </div>
             </div>
          </div>
       </div>
    </div>
 </div>