.itm-banner-item{
   height: 100%;
   background-position: center;
   background-size: cover;
}

.itm-banner-extra-info {  
   @media (max-width: 767px){
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
   } 
   @media (max-width: 575px) {
      position: absolute;
      bottom: -79px;
      right: 0;
      width: 100%;
      left: 0;
      text-align: right;
      background-color: $brand-color-secondary;
      padding: 8px 15px;
   }
}

// Banner on mobile
@media (max-width: 575px) {
   .itm-banner-container.itm-banner-container--aspectRatio {
      height: $banner-height;
      margin-bottom: 0;
   }
   .itm-stage:has(.itm-banner-item) {
      min-height: $banner-height;
   }
}