
.itm-carousel-new {
  &__bannersV2 {

    .opacity {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0);
    }

    picture {
      height: 100%;
      width: 100%;
    }

    .itm-background{
      display: none;
    }
    @media (min-width: 768px) {
      .desktop-show{
        display: block;
      }
    }

    .desktop-image {
      display: block;
    }

    .mobile-image {
      display: none;
    }

    .badge {
      padding: 5px 15px;
    }

    .itm-banner-info-container {
      display: flex;
      width: 100%;
      .itm-banner-info {
        max-width: 75%;
      }

      &.desktop-align-left {
        justify-content: flex-start;
        text-align: left;
      }

      &.desktop-align-center {
        justify-content: center;
        text-align: center;
      }

      &.desktop-align-right {
        justify-content: flex-end;
        text-align: right;
      }
    }

    @media (max-width: 767px) {
      .mobile-show{
        display: block;
      }
      .desktop-image {
        display: none;
      }

      .mobile-image {
        display: block;
      }

      .itm-banner-info-container {
        .row {
          margin-left: 0;
          margin-right: 0;
        }

        &.mobile-align-left {
          justify-content: flex-start;
          text-align: left;
        }

        &.mobile-align-center {
          justify-content: center;
          text-align: center;
        }

        &.mobile-align-right {
          justify-content: flex-end;
          text-align: right;
        }
      }
    }
  }
}