.itm-banner-container{
  
   &.itm-banner-container--absolute,
   &.itm-banner-container--nobgimage{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
   }
   &.itm-banner-container--aspectRatio{
      position: relative;
      margin: 0 auto 1rem;
      height: 270px;
      
      @media (min-width: 768px){
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
      }
      @media (max-width: 575px){
         height: $banner-height;         
      }
   }
   &.itm-banner-container--extrainfo{
      @media (max-width: 575px){
         //margin-bottom: 65px;
      }
   }
   &.itm-banner-container--absoluteFixed{
      position: relative;
      height: 270px;
      @media (min-width: 768px){
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
      }
      @media (max-width: 575px){
         height: $banner-height;         
      }
   }

   .carousel-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      @media(max-width: 767px){
         overflow: visible;
      }
   }
   .carousel-indicators{
      z-index: 1 !important;
      margin-bottom: 0;
   }
   @media(max-width: 767px){
      background-color: $stage-bgcolor;
      margin-bottom: 1rem;
      .carousel-inner {
         overflow: visible;
      }
   }
}

// Widget outside banner
.widget-outside-banner {
   .itm-stage, .itm-stage-new {
      margin-bottom: 0;
   }
   .itm-booker .promocode-container {
      padding-top: 0;
      padding-bottom: 0;
   }
   .itm-banner-container.itm-banner-container--aspectRatio {
      margin-bottom: 0;
  }
}
@media (min-width: 768px) {
   .widget-outside-banner {
      .itm-widget-container--bottom {
         position: static;
         background-color: #f8f9fa;
         padding: 1rem 0;
      }
      .itm-banner-info--extended {
         margin-bottom: 0;
      }
      .itm-widget-container .itm-widget-card--horizontal .itm-booker .nav > li.active > a {
         color: #000;
      }
      .itm-widget-container .itm-widget-card--horizontal .itm-booker .nav > li > a,
      .itm-widget-container .itm-widget-card--horizontal .itm-booker .itm-promotion-code-modal-link span {
         color: rgba(0, 0, 0, 0.75);
         text-shadow: none;
      }
   }
}
@media (min-width: 1200px) {
   .widget-outside-banner .itm-stage.itm-stage--vconstrained {
       min-height: 550px;
   }
}
.is-sticky {
   .itm-booker-horizontal .DateRangePickerInput {
      line-height: 42px;
   }
   .itm-booker-horizontal .booker-container .field,
   .itm-booker-horizontal .booker-container .booker-submit .itm-btn-primary {
      line-height: 46px;
   }
}
.widget-outside-banner + .itm-body > .itm-benefits-container {margin-top: 0;}