.blog-container{
    display: grid;
   width: 100%;
   column-gap: 24px;
   row-gap: 36px;
   
    .blog-itemCard{
        width: 100%;
        @media (max-width: 675px){
            width: 100%;        
         }
         .blog-image-container {
            border-radius: 5px;
            background-color: #f5f5f5;
            margin-bottom: 8px;
            > img{
               width: 100%;
               height: 200px;
               border-radius: inherit;
               object-fit: contain;
            }
            > .item-image--empty{
               height: 200px;
            }
         }
         .blog-itemCard-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .blog-postBody{
                max-height: 250px;
                overflow: auto;
            }
         }
    }
   @media (min-width: 768px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 992px){
        grid-template-columns: repeat(3, 1fr);
        
    }
   @media (max-width: 767px){
      grid-template-columns: 1fr;
   }
}