.itm-footer {
	font-size: 90%;
   background-color: $footer-bgcolor;
   color: $footer-txtcolor;
   margin-top: 3rem;
   padding-top: 3rem;
   padding-bottom: 3rem;
   a {
      color: $footer-linkcolor;
   }
   .itm-extra-icon{
      line-height:1;
      vertical-align:sub;
      fill: $footer-linkcolor;
   }
   @media (max-width:768px){
      margin-bottom: 70px;
   }
   .list-inline.itm-footer-menu{
      .list-inline-item:not(:last-child) {
         border-right: 1px solid rgba($footer-txtcolor, 0.9);
         padding-right: 1rem;
      }
   }
}
