.itm-footer {
	font-size: 90%;
   background-color: $footer-bgcolor;
   color: $footer-txtcolor;
   margin-top: 3rem;
   padding-top: 3rem;
   padding-bottom: 3rem;
   a {
      color: $footer-linkcolor;
   }
   @media (max-width:768px){
      margin-bottom: 70px;
   }
}
