.form-control.error {
   border-color: #a00;
}
label.error {
   font-size: 85%;
   color: #a00;
}
.sidebar-block {
   border: 1px solid #eee;
   border-radius: 2px;
   padding: 20px;
   margin-bottom: 20px;
 }