.interstitial {
    padding: 4rem;
    margin-top: 40px;
    background-color: #f3f3f3;
    text-align: center;
    position: relative;
   
   .interstitial-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
    
  &>.container {
    position: relative;
    z-index: 1;
    &>.lead {
      margin-bottom: 1rem;
    }
  }

  &.interstitial--dark,
  &.interstitial--light {
    padding-bottom: 8rem;
    .btn {
      text-shadow: none;
    }
    &.rounded {
      overflow: hidden;
    
    }
  }

  &.interstitial--dark {
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.5);
  }
  &.interstitial--light {
    color: #000;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
  }

  &.interstitial--light:after,
  &.interstitial--dark:after {
    content: "";
    display: block;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.interstitial--dark:after {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  }
  &.interstitial--light:after {
    background: -moz-linear-gradient(top,  rgba(255,255,255,.65) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,.65) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,.65) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  }
}