.page-section-container {
    padding-left: 15px;
    padding-right:15px;
}
.page-section-img {
    min-height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-section-img-container {
    position: relative;
    min-height: 40vh;
}
.page-section-img-component{
   position: absolute;
   top: 0;
   object-fit: cover;
   left: 0;
   width: 100%;
   height: 100%;
}
@media (min-width:760px) {
    .page-section {
        overflow: hidden;
        min-height: 60vh;
    }
}