.itm-stage{
   margin: 0 auto;
   margin-bottom: 2rem;
   position: relative;
   @media (min-width: 768px){
      min-height: 360px; /* para conservar tamaño mínimo en w horizontal */
      background-color: $stage-bgcolor;
   }
   @media (min-width: 992px){
      min-height: 420px;
   }

   &.itm-stage--solid{
      background-color: $stage-bgcolor;
      min-height: 0;
   }
   
   &.itm-stage--hconstrained{
      background-color: #FFF;
      @media (min-width: 576px){
         max-width: 576px;
      }
      @media (min-width: 768px){
         max-width: 768px;
      }
      @media(min-width: 992px){
         max-width: 1024px;
      }
      @media(min-width: 1200px){
         max-width: 1280px;
      }
   }
   //importante que vcontrained vaya después de hcontrained
   &.itm-stage--vconstrained{
      background-color: #FFF;
      @media (min-width: 768px){
         min-height: 360px;
      }
      @media(min-width: 992px){
         min-height: 480px;
      }
      @media(min-width: 1200px){
         min-height: 600px;
      }
   }
   &.itm-stage--fullscreen {
      @media (min-width: 768px){
         height: 100vh;
         padding-top: 100px;
         .itm-banner-info-container {
            padding-top: 100px;
        }
      }
      .itm-banner-container {
         min-height: 360px;
      }
   }
   &.itm-stage--light .itm-banner-item:before,
   &.itm-stage--dark .itm-banner-item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }
   &.itm-stage--dark .itm-banner-item:before {
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
   }
   &.itm-stage--light .itm-banner-item:before {
      background: -moz-linear-gradient(top,  rgba(255,255,255,.65) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,.65) 0%,rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,.65) 0%,rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
   }
}

.itm-header--fullscreen {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2;
}