.sticky-bottom{
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   background-color: $light-bgcolor;
   max-height: 0;
   transition: max-height 0.25s ease-out;
}

// Mobile buttons
.sticky-bottom {
   background-color: rgba(255,255,255,0.85);
}
.btn-book-mobile {
   flex-grow: 1;
    margin-right: 0.3rem;
}
.mobile-btns {
   display: flex;
   gap: 10px;
   .btn-primary {
      flex-grow: 2;
   }
}