.sticky-bottom{
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   background-color: $light-bgcolor;
   max-height: 0;
   transition: max-height 0.25s ease-out;
}