.itm-header-top {
   font-size: 90%;
   padding: 0.5rem 0;
   background-color: $top-bar-bgcolor;
   color: $top-bar-txtcolor;

   .itm-header-top-contact{
      display: none;
      @media (min-width: 992px) {
         display: block;
         @if variable-exists(navbar-left-margin){
         padding-left: $navbar-left-margin;
         }
         padding-top: 0;
      }
      a, span {
         white-space: nowrap;
         color: $top-bar-txtcolor;
      }
   }

   .itm-header-top-lang > div > a,
   .itm-header-top-nav a {
      color: $top-bar-linkcolor;
      text-transform: uppercase;
      font-size: 13px;
      padding-left: 15px;
      @media (max-width: 576px) {
         font-size: 12px;
         padding: 0 3px;
      }
   } 
}

.itm-header--topbar-transparent {
   .itm-header-top {
      background-color: transparent;
   }
}

.itm-header--navbar-transparent {
   .navbar {
      background-color: transparent;
  }
  .navbar-collapse.show,
  .navbar-collapse.collapsing,
  .is-sticky .navbar {
      background-color:$navbar-bgcolor;
  }
  .navbar-collapse.show,
  .navbar-collapse.collapsing {
     padding: 20px;
  }
}