.itm-widget-container--bottom{
   background-color: $widget-horizontal-bgColor;
   @media (min-width: 768px) {
      position: absolute;
      bottom: 1.25rem;
      left: 0;
      right: 0;
   }
}
.itm-header--fullscreen .itm-widget-container--bottom{
   @media (min-width: 768px) {
      bottom: 2.25rem;
   }
}

.itm-widget-container--margin{
   @media (max-width: 767px) {
      padding-top: 200px;
   }
}

.sidebar-widget{
   will-change: min-height;
   .card{
      min-height: 271px;
   }
}
.w-outer-container{
   transition: background-color .3s;
}
.is-sticky{
   .widget-sticky{
      background-color: $light-bgcolor;
      width: 100% !important;
      left: 0;
      right: 0;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
   }
}
