.itm-new-widget-container--bottom{
   background-color: $widget-horizontal-bgColor;
   flex-grow: 1;
   padding-top: 300px;
   margin-bottom: 20px;
}
.itm-stage-new--horizontal-between{
.itm-new-widget-container--bottom{
   flex-grow: initial;
   padding-top: 0;
}
}