{{ $name := "" }}
{{ $months := "0" }}
{{ with .Get "name" }}
{{ $name = . }}
{{ end }}
{{ with .Get "months" }}
{{ $months = . }}
{{ end }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center itm-benefits-footer-title">
                <i class="far fax-check-circle text-success fa-5x"></i>
                <h4>{{ i18n "benefits.footer.title" (dict "Count" 25 "Name" $name) }}</h4>
            </div>
        </div>
    </div>
    <div class="row itm-benefits-footer-body">
        <div class="col-7">
            <ul class="fa-ul">
                {{ if and (ne $months "0") (ne $months "1")}}
                    <li><span class="fa-li"><i class="fas fax-check text-success"></i></span>{{ i18n "benefits.msi" (dict "Count" 25 "Months" $months)}}</li>
                {{ end }}
                <li><span class="fa-li"><i class="fas fax-check text-success"></i></span>{{ i18n "benefits.flexible.cancellation" }}</li>
                <li><span class="fa-li"><i class="fas fax-check text-success"></i></span>{{ i18n "benefits.best.price"}}</li>
            </ul>
        </div>
        <div class="col-5">
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fax-check text-success"></i></span>{{ i18n "benefits.exclusive.offers"}}</li>
                <li><span class="fa-li"><i class="fas fax-check text-success"></i></span>{{ i18n "benefits.no.hidden.charges"}}</li>
                <li><span class="fa-li"><i class="fas fax-check text-success"></i></span>{{ i18n "benefits.immediate.confirmation"}}</li>
            </ul>
        </div>
    </div>
</div>