{{ $blogList := getJSON $.Site.Params.api.blog.name }}
<div class="blog-container"> 
        {{ range $blogList }}
            <div class="card blog-itemCard">
                <img src="https://res.cloudinary.com/itermotus/q_auto:low,f_auto,w_240,h_135,c_fill/hotel-stage/ixtul/1/40e29b09-1-All-Ritmo1.jpg" class="card-img-top" alt="...">
                <div class="card-body blog-itemCard-body">
                    <div>
                        <h5 class="card-title">{{.title.rendered}}</h5>
                        <div class="blog-postBody">

                            {{ with .excerpt.rendered | safeHTML }}
                            {{ . }}
                            {{ end }}
                        </div>
                    </div>
                    <div>
                        <!-- Enlace para ver detalles de la entrada de blog -->
                        <a href="/blogPost/{{.slug}}" class="btn btn-primary">{{ i18n "blog.showMore" }}</a>
                    </div>
                </div>
            </div>
        {{ end }}
</div>