{{ if and .Site.Params.api .Site.Params.api.promotions }}
   {{ $many := 20 }}
   {{ $showCategories := false }}
   {{ $showHotelFilter := false }}
   {{ $containerType := "list--fullpage"}}
   {{ with .Get "items" }}
      {{ $many = . }}
   {{ end }}
   {{ with .Get "isFluid" }}
      {{ $containerType = "list--fluid"}}
   {{ end }}
   {{ with .Get "showCategories"}}
      {{ $showCategories = . }}
   {{ end }}
   {{ with .Get "showHotelFilter"}}
      {{ $showHotelFilter = . }}
   {{ end }}
   {{ $version := "1" }}
   {{ with .Get "version" }}
      {{ $version = . }}
   {{ end }}
   {{ $deals := getJSON .Site.Params.api.promotions.name }}

   {{ if eq $showCategories "true" }}
      {{ partial "dealCategories" (dict "deals" $deals) }}
   {{ end }}
   {{ if eq $showHotelFilter "true" }}
      {{ partial "dealHotels" (dict "deals" $deals) }}
   {{ end }}
   <div class="{{ $containerType }}">
   {{ range first $many (where $deals "isActive" true) }}
      {{ partial "deal" (dict "deal" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket "showHotel" $.Site.Params.promotionsShowHotel "version" $version) }}
   {{ end }}
   </div>
{{ end }}