{{ if and .Site.Params.api .Site.Params.api.promotions }}
   {{ $many := 20 }}
   {{ $showCategories := false }}
   {{ $showHotelFilter := false }}
   {{ $containerType := "list--fullpage"}}
   {{ $alignment := "" }}
   {{ $imageAsBackground := false }}
   {{ with .Get "items" }}
      {{ $many = . }}
   {{ end }}
   {{ with .Get "isFluid" }}
      {{ $containerType = "list--fluid"}}
   {{ end }}
   {{ with .Get "showCategories"}}
      {{ $showCategories = . }}
   {{ end }}
   {{ with .Get "showHotelFilter"}}
      {{ $showHotelFilter = . }}
   {{ end }}
   {{ with .Get "alignment" }}
      {{ $alignment = . }}
   {{ end }}
   {{ with .Get "imageAsBackground" }}
      {{ $imageAsBackground = . }}

   {{ end }}
   {{ $version := "1" }}
   {{ with .Get "version" }}
      {{ $version = . }}
   {{ end }}
   {{ $deals := getJSON .Site.Params.api.promotions.name }}

   {{ if eq $showCategories "true" }}
      {{ partial "dealCategories" (dict "deals" $deals) }}
   {{ end }}
   {{ if eq $showHotelFilter "true" }}
      {{ partial "dealHotels" (dict "deals" $deals) }}
   {{ end }}
   <div class="{{ $containerType }} dealList-2">
   {{ range $index, $deal := first $many (where $deals "isActive" true) }}
   {{ if eq $alignment "both" }}
     {{ if not (modBool $index 2) }}
       {{ partial "deal-2" (dict "deal" $deal "alignment" "right"  "version" $version "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) }}
     {{ else }}
       {{ partial "deal-2" (dict "deal" $deal "alignment" "left"  "version" $version "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) }}
     {{ end }}
   {{ else if eq $alignment "left" }}
     {{ partial "deal-2" (dict "deal" $deal "alignment" "left"  "version" $version "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) }}
   {{ else if eq $alignment "right" }}
     {{ partial "deal-2" (dict "deal" $deal "alignment" "right"  "version" $version "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) }}
   {{ end }}
 {{ end }}
 {{ if eq $imageAsBackground "true" }}
      <div class="deals-grid">
         {{ range $index, $deal := first $many (where $deals "isActive" true) }}
           <div class="deal-item">
             {{ partial "deal-2" (dict "deal" $deal "imageAsBackground" "true" "version" $version "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) }}
           </div>
         {{ end }}
       </div>
      {{ end }}
</div>
{{ end }}
