
{{ if and .Site.Params.api .Site.Params.api.rooms.url }}
   {{ $many := 20 }}
   {{ $version := "2" }}
   {{ $roomsVersion := "1" }}
   {{ $isDynamic := false }}
   {{ $hotelId := "" }}
   {{ $containerType := "list--fullpage" }}
   {{ $base := $.Site.Params.imageBase }}
   {{ $bucket := $.Site.Params.imageBucket }}
   {{ $showHotel := $.Site.Params.promotionsShowHotel }}
   {{ $bookingEngineURL := $.Site.Params.bookingEngineURL }}
   {{ $nights := "2" }}
   {{ $weekday := "friday" }}
   {{ $cutoff := "5" }}
   {{ if $.Site.Params.RoomsNext }}
      {{ $weekday = cond (isset $.Site.Params.RoomsNext "weekday") $.Site.Params.RoomsNext.weekday $weekday }}
      {{ $nights = cond (isset $.Site.Params.RoomsNext "nights") $.Site.Params.RoomsNext.nights $nights }}
      {{ $cutoff = cond (isset $.Site.Params.RoomsNext "cutoff") $.Site.Params.RoomsNext.cutoff $cutoff }}
   {{ end }}
   {{ with .Get "items" }}
      {{ $many = . }}
   {{ end }}
   {{ with .Get "isDynamic" }}
      {{ $isDynamic = . }}
   {{ end }}
   {{ with .Get "hotelId" }}
      {{ $hotelId = . }}
   {{ end }}
   {{ with .Get "isFluid" }}
      {{ $containerType = "list--fluid"}}
   {{ end }}
   {{ with .Get "version" }}
      {{ $version = . }}
   {{ end }}
   {{ with .Get "roomsVersion" }}
      {{ $roomsVersion = . }}
   {{ end }}
   {{ $rooms := getJSON (replace .Site.Params.api.rooms.name "{hotelId}" $hotelId) }}

<div class="{{ $containerType }} grid-rooms">
   {{ range first $many (where $rooms "isActive" true) }}
      {{ $query2 := slice "rooms" "?weekday=" (urlize $weekday) "&nights=" $nights "&cutoff=" $cutoff "&roomId=" .id "&isDynamic=" "true" }}
      {{ $query := slice (i18n "roomsNextUri") "/" (urlize (i18n $weekday)) "/" $nights "/" $cutoff "?ro=" .id }}
      {{ $tooltipText := "" }}
      {{ if .summaryDetails.bedArrangements }}
         {{ $bedArrangementsLenght := len .summaryDetails.bedArrangements }}
         {{ range $index, $element := .summaryDetails.bedArrangements }}
            {{ if eq $index 0 }}
               {{ $tooltipText = print $tooltipText $element }}
            {{ else if eq $index (sub $bedArrangementsLenght 1) }}
               {{ $tooltipText = print $tooltipText " y " $element }}
            {{ else }}
               {{ $tooltipText = print $tooltipText ", " $element }}
            {{ end }}
         {{ end }}
      {{ end }}
      <div class="grid-rooms-item">
         {{if .photos }}
            {{ $image := index .photos 0 }}
            <div class="item-img">
               <img src="{{ print $base "f_auto,h_400,c_fill/" $bucket "/" $image.path }}" loading="lazy" alt="{{ .name }}">
            </div>
         {{ end }}
         <div class="item-body">
            <h3>{{ .name }}</h3>
            <div class="item-description">
               {{ .description }}
            </div>

            <!-- inicio detalles de habitacion version 1 -->
            {{ if (eq $roomsVersion "1") }}
            <div class="item-room-details">
               {{ if .summaryDetails }}
               <span class="item-room-info">
                  <i class="fas fax-user mr-1"></i>
                  <span>{{ .summaryDetails.capacitySummary }}</span>
               </span>
               <span class="item-room-info">
                  <i class="fas fax-bed mr-1"></i>
                  <span>
                     {{ .summaryDetails.bedResume }}
                     {{ if $tooltipText }}
                     <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{{ $tooltipText }}">
                        <sup class="info">&#9432;</sup>
                     </span>
                     {{ end }}
                  </span>
               </span>
               {{ else }}
               <span class="item-room-info">
                  <i class="fas fax-user mr-1"></i>
                  <span>{{ .capacity }}</span>
               </span>
               <span class="item-room-info">
                  <i class="fas fax-bed mr-1"></i>
                  <span>{{ .bedding }}</span>
               </span>
               {{ end }}
            </div>
            {{ end }}
            <!-- fin detalles de habitacion version 1 -->

            <!-- inicio detalles de habitacion version 2 -->
            {{ if (eq $roomsVersion "2") }}
            <div class="item-room-details with-details">
               {{ if .summaryDetails }}
               <span class="item-room-info">
                  <i class="fas fax-user mr-1"></i>
                  <span>{{ .summaryDetails.capacitySummary }}</span>
               </span>
               <span class="item-room-info">
                  <i class="fas fax-bed mr-1"></i>
                  <span>
                     {{ .summaryDetails.bedResume }}
                     {{ if $tooltipText }}
                     <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{{ $tooltipText }}">
                        <sup class="info">&#9432;</sup>
                     </span>
                     {{ end }}
                  </span>
               </span>
               {{ else }}
               <span class="item-room-info">
                  <i class="fas fax-user mr-1"></i>
                  <span>{{ .capacity }}</span>
               </span>
               <span class="item-room-info">
                  <i class="fas fax-bed mr-1"></i>
                  <span>{{ .bedding }}</span>
               </span>
               {{ end }}
               <button type="button" class="btn btn-link " data-toggle="modal" data-target="#roomModal{{.id}}">
                  {{ i18n "viewRoomDetails"}}
               </button>
            </div>
            {{ end }}
            <!-- fin detalles de habitacion version 2 -->

            <!-- inicio detalles de habitacion version 3 -->
            {{ if (eq $roomsVersion "3") }}
            <div class="item-room-details with-price">
               <div class="item-room-info-container">
                  {{ if .summaryDetails }}
                  <span class="item-room-info">
                     <i class="fas fax-user mr-1"></i>
                     <span>{{ .summaryDetails.capacitySummary }}</span>
                  </span>
                  <span class="item-room-info">
                     <i class="fas fax-bed mr-1"></i>
                     <span>
                        {{ .summaryDetails.bedResume }}
                        {{ if $tooltipText }}
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{{ $tooltipText }}">
                           <sup class="info">&#9432;</sup>
                        </span>
                        {{ end }}
                     </span>
                  </span>
                  {{ else }}
                  <span class="item-room-info">
                     <i class="fas fax-user mr-1"></i>
                     <span>{{ .capacity }}</span>
                  </span>
                  <span class="item-room-info">
                     <i class="fas fax-bed mr-1"></i>
                     <span>{{ .bedding }}</span>
                  </span>
                  {{ end }}
               </div>
               <div class="item-room-details-price">
                  <span class="from">
                     {{ i18n "priceFromFull"}}
                  </span>
                  <span class="price">
                     ${{ lang.NumFmt 0 .lowestRateDetail.amount "- . ," }}
                  </span>
               </div>
            </div>
            {{ end }}
            <!-- fin detalles de habitacion version 3 -->

            {{ if or (eq $roomsVersion "1") (eq $roomsVersion "3") }}
            <div class="item-room-actions">
               {{ if eq $version "2" }}
                  {{ if and $showHotel $hotelId }}
                     <a href="{{ $bookingEngineURL }}{{ $hotelId }}/{{ delimit $query2 `` | safeURL }}" class="btn btn-primary">
                        {{ i18n "book"}}
                     </a>
                  {{ else }}
                     <a href="{{ $bookingEngineURL }}{{ delimit $query2 `` | safeURL }}" class="btn btn-primary">
                        {{ i18n "book"}}
                     </a>
                  {{ end }}
               {{ else }}
                  {{ if and $showHotel $hotelId }}
                     <a href="{{ $bookingEngineURL }}#/{{ $hotelId }}/{{ delimit $query `` | safeURL }}" class="btn btn-primary">
                        {{ i18n "book"}}
                     </a>
                  {{ else }}
                     <a href="{{ $bookingEngineURL }}#/{{ delimit $query `` | safeURL }}" class="btn btn-primary">
                        {{ i18n "book"}}
                     </a>
                  {{ end }}
               {{ end  }}
               <button type="button" class="btn btn-link" data-toggle="modal" data-target="#roomModal{{.id}}">
                  {{ i18n "viewRoomDetails"}}
               </button>
            </div>
            {{ end }}
            {{ if (eq $roomsVersion "2") }}
            <div class="item-room-actions with-price">
               <div class="divider"></div>
               <div class="content">
                  <div class="item-room-actions-price">
                     <span class="from">
                        {{ i18n "priceFrom"}}
                     </span>
                     <span class="price">
                        ${{ lang.NumFmt 0 .lowestRateDetail.amount "- . ," }}
                     </span>
                     <span class="per-night">
                        {{ i18n "perNight"}}
                     </span>
                  </div>
                  {{ if eq $version "2" }}
                     {{ if and $showHotel $hotelId }}
                        <a href="{{ $bookingEngineURL }}{{ $hotelId }}/{{ delimit $query2 `` | safeURL }}" class="btn btn-primary">
                           {{ i18n "book"}}
                        </a>
                     {{ else }}
                        <a href="{{ $bookingEngineURL }}{{ delimit $query2 `` | safeURL }}" class="btn btn-primary">
                           {{ i18n "book"}}
                        </a>
                     {{ end }}
                  {{ else }}
                     {{ if and $showHotel $hotelId }}
                        <a href="{{ $bookingEngineURL }}#/{{ $hotelId }}/{{ delimit $query `` | safeURL }}" class="btn btn-primary">
                           {{ i18n "book"}}
                        </a>
                     {{ else }}
                        <a href="{{ $bookingEngineURL }}#/{{ delimit $query `` | safeURL }}" class="btn btn-primary">
                           {{ i18n "book"}}
                        </a>
                     {{ end }}
                  {{ end  }}
               </div>
            </div>
            {{ end }}
         </div>
      </div>
      <div class="modal fade" id="roomModal{{.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                     {{ .name }}
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="room-gallery-container swiper">
                     <div class="swiper-wrapper">
                        {{ range .photos }}
                           <div class="swiper-slide">
                              <img src="{{ print $base "f_auto,h_400,c_fill/" $bucket "/" .path }}" loading="lazy" alt="{{ .name }}">
                           </div>
                        {{ end }}
                     </div>
                     <div class="swiper-pagination"></div>
                     <div class="swiper-button-next"></div>
                     <div class="swiper-button-prev"></div>
                  </div>
                  <div class="modal-details">
                     {{ if .summaryDetails }}
                     <span class="item-room-info">
                        <i class="fas fax-user mr-1"></i>
                        <span>{{ .summaryDetails.capacitySummary }}</span>
                     </span>
                     <span class="item-room-info">
                        <i class="fas fax-bed mr-1"></i>
                        <span>
                           {{ .summaryDetails.bedResume }}
                           {{ if $tooltipText }}
                           <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="{{ $tooltipText }}">
                              <sup class="info">&#9432;</sup>
                           </span>
                           {{ end }}
                        </span>
                     </span>
                     {{ else }}
                     <span class="item-room-info">
                        <i class="fas fax-user mr-1"></i>
                        <span>{{ .capacity }}</span>
                     </span>
                     <span class="item-room-info">
                        <i class="fas fax-bed mr-1"></i>
                        <span>{{ .bedding }}</span>
                     </span>
                     {{ end }}
                  </div>
                  <div class="divider"></div>
                  <div class="modal-details">
                     {{ .description }}
                  </div>
                  <div class="divider"></div>
                  <div class="modal-details">
                     <ul>
                        {{ range .amenities }}
                           <li>{{ .name }}</li>
                        {{ end }}
                     </ul>
                  </div>
                  <div class="divider"></div>
                  <div class="modal-details actions">
                     {{ if eq $version "2" }}
                        {{ if and $showHotel $hotelId }}
                           <a href="{{ $bookingEngineURL }}{{ $hotelId }}/{{ delimit $query2 `` | safeURL }}" class="btn btn-primary">
                              {{ i18n "book"}}
                           </a>
                        {{ else }}
                           <a href="{{ $bookingEngineURL }}{{ delimit $query2 `` | safeURL }}" class="btn btn-primary">
                              {{ i18n "book"}}
                           </a>
                        {{ end }}
                     {{ else }}
                        {{ if and $showHotel $hotelId }}
                           <a href="{{ $bookingEngineURL }}#/{{ $hotelId }}/{{ delimit $query `` | safeURL }}" class="btn btn-primary">
                              {{ i18n "book"}}
                           </a>
                        {{ else }}
                           <a href="{{ $bookingEngineURL }}#/{{ delimit $query `` | safeURL }}" class="btn btn-primary">
                              {{ i18n "book"}}
                           </a>
                        {{ end }}
                     {{ end  }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   {{ end }}
</div>
<script type="text/javascript">
window.addEventListener("DOMContentLoaded", async () => {
   const hotelId = parseInt("{{$hotelId}}");
   const isDynamic = "{{$isDynamic}}" === "true";

   $(document).ready(function($) {
      initGallery();
   });

   if (!isDynamic) {
      return;
   }

   $(".item-room-actions > a").css({
      cursor: 'not-allowed',
      opacity: 0.5
   });

   const hotels = (await $.ajax({
      method: "GET",
      url: "{{ .Site.Params.api.hotels.url }}",
   }));

   const selectedHotel = hotels.find(h => h.id === hotelId);

   if (selectedHotel?.externalUrl) {
      const { date  } = selectedHotel.lowestRateDetail ?? {};
      const url = buildUrl({ externalUrl: selectedHotel.externalUrl, date });
      $(".item-room-actions > a").each((i, link) => {
         link.href = url;
      });
   }

   $(".item-room-actions > a").css({
      cursor: 'pointer',
      opacity: 1,
   });
});

function initGallery() {
   let intervalId;

   function init() {
      if (!window.getSwiperInstance) {
         return;
      }

      clearInterval(intervalId);
      const swiper = window.getSwiperInstance('.room-gallery-container', {
         slidesPerView: 1,
         navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
         },
         pagination: {
            el: ".swiper-pagination",
         }
      });
   }

   intervalId = setInterval(init, 100);
}

function buildUrl({ externalUrl, date }) {
   const [year, month, day] = (date ?? formatDate(new Date())).split("-")
   const startDate = new Date(parseInt(year), parseInt(month) - 1, parseInt(day));
   const endDate = new Date(parseInt(year), parseInt(month) - 1, parseInt(day));
   endDate.setTime(endDate.getTime() + ((24*60*60*1000) * 2));

   return externalUrl
      .replace("{startDate}", formatDate(startDate))
      .replace("{endDate}", formatDate(endDate))
      .replace("{rooms}", 1)
      .replace("{adults}", 2)
      .replace("{children}", 0)
      .replace("{childrenAges}", "")
      .replace("&promo={promoCode}", "");
}

function formatDate(date) {
   const options = { year: 'numeric', month: '2-digit', day: '2-digit'}
   return date.toLocaleDateString("es-mx", options).split('/').reverse().join('-')
}
</script>
{{ end }}