{{ $base := .Get "base" }}
{{ $path := .Get "path" }}
{{ $alt := .Get "title" }}
{{ with .Get "alt" }}
   {{ $alt = . }}
{{ end }}
<a class="home-amenity" href="{{.Get `url`}}">
    <img class="amenity-img" {{with $alt }}alt="{{.}}"{{end}} loading="lazy" 
        src="{{print $base `f_auto,w_635,h_320,c_fill/` $path }}"
        srcset="{{print $base `f_auto,w_635,h_320,c_fill/` $path }} 635w,
             {{print $base `f_auto,w_445,h_320,c_fill/` $path }} 445w,
             {{print $base `f_auto,w_395,h_320,c_fill/` $path }} 395w,
             {{print $base `f_auto,w_270,h_320,c_fill/` $path }} 270w"
        sizes="(max-width: 575px) 100vw, (max-width: 768px) 58vw, 635px">
    <div class="amenity-container">
        <h5>{{.Get "title"}}</h5>
        <p>{{ .Inner }}</p>
    </div>
</a>