{{ $base := .Get "bgImgBase" }}
{{ $path := .Get "bgImgPath" }}
{{ $alt := .Get "title" }}
{{ with .Get "alt" }}
   {{ $alt = . }}
{{ end }}
{{ $customScratch := newScratch }}
{{ $customScratch.Add "classes" (slice "interstitial") }}
{{ if eq (.Get "bgTheme") "dark" }}
   {{ $customScratch.Add "classes" (slice "interstitial--dark") }}
{{ else if eq (.Get "bgTheme") "light" }}
   {{ $customScratch.Add "classes" (slice "interstitial--light") }}
{{ end }}
{{ if eq (.Get "roundCorners") "true" }}
   {{ $customScratch.Add "classes" (slice "rounded") }}
{{ end }}
<div class="{{ delimit ($customScratch.Get `classes`) ` ` }}">
   {{ if and $base $path }}
   <img src="{{print $base `f_auto,w_1200,h_800,c_fill/` $path }}" {{with $alt }}alt="{{.}}"{{end}} class="interstitial-img" loading="lazy" />
   {{ end }}
   <div class="container">
      {{ with .Get "title" }}
      <h3>{{ . }}</h3>
      {{ end }}
      <div class="lead">{{ .Inner }}</div>
      <p><a href="{{ .Get "btnURL" }}" class="btn btn-primary">{{ .Get "btnText" }}</a></p>
   </div>
</div>