{{ $base := .Get "base" }}
{{ $path := .Get "path" }}
{{ $customImgHeight := .Get "imgHeight" }}
{{ $imgHeight := (cond (ne $customImgHeight ``) $customImgHeight `400`) }}

<div class="row listItem">
   {{ if and $base $path }}
   <div class="listItem-pic" style="background-image: url({{ print $base `f_auto,h_` $imgHeight `,c_fill/` $path }})"></div>
   {{ else }}
   <div class="listItem-pic listItem-pic--empty"></div>
   {{ end }}
   <div class="listItem-info listItem-info--full">
      {{ with .Get "title" }}
      <h2 class="listItem-title">{{ . | markdownify }}</h2>
      {{ end}}
      <div class="listItem-shortDesc">
         {{ .Inner }}
      </div>
   </div>
</div>