{{ $base := .Get "imgBase" }}
{{ $path := .Get "imgPath" }}
{{ $btnClass := .Get "btnClass" }}
{{ $imgPosition := .Get "imgPosition" }}
<div class="page-section-container">
    <div class="row page-section" style="background-color:{{ .Get `bgColor` }}">
        <div class="col-md-6 col-lg-8 page-section-img {{ cond (eq $imgPosition `right`) `order-first order-sm-last` `` }}"  style="background-image: url({{print $base `f_auto,w_800,h_600,c_fill/` $path }})">
        </div>
        <div class="col-md-6 col-lg-4 page-section-content">
            <div class="p-5">
                <h3>{{.Get "title"}}</h3>
                <div class="page-section-text">
                    {{ .Inner }}
                    {{ if and (.Get "btnText") (.Get "btnUrl") }}
                    <div class="mt-3">
                        <a href="{{ .Get `btnUrl` }}" class="btn {{ cond (ne $btnClass ``) $btnClass `btn-outline-primary` }}">{{ .Get "btnText" }}</a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>