{{ if .Site.Params.roomsURL }}
   {{ $many := 20 }}
   {{ $containerType := "list--fullpage" }}
   {{ $listType := "regular" }}
   {{ with .Get "items" }}
      {{ $many = . }}
   {{ end }}
   {{ with .Get "isFluid" }}
      {{ $containerType = "list--fluid"}}
   {{ end }}
   {{ $rooms := getJSON .Site.Params.roomsURL }}
   {{ with .Get "showComplete" }}
      {{ $listType = "complete"}}
   {{ end }}
   <div class="{{ $containerType }}">
   {{ range first $many (where $rooms "isActive" true) }}
      {{ if eq $listType "complete" }}
         {{ partial "room-complete" (dict "room" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) "main" $}}
      {{ else }}
         {{ partial "room" (dict "room" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket "main" $) }}
      {{ end }}
   {{ end }}
   </div>
{{ end }}
