{{ if .Site.Params.servicesURL }}
   {{ $many := 20 }}
   {{ $containerType := "list--fullpage" }}
   {{ $listType := "regular" }}
   {{ with .Get "items" }}
      {{ $many = . }}
   {{ end }}
   {{ with .Get "isFluid" }}
      {{ $containerType = "list--fluid"}}
   {{ end }}
   {{ $hotelId := "" }}
   {{ with .Get "hotelId" }}
      {{ $hotelId = . }}
   {{ end }}
   {{ $items := getJSON (replace .Site.Params.servicesURL "{hotelId}" $hotelId) }}
   {{ with .Get "showComplete" }}
      {{ $listType = "complete"}}
   {{ end }}
   <div class="{{ $containerType }}">
      <div>
      {{ range where (where $items "isActive" true) "isStandalone" true }}
         {{ partial "service" (dict "service" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket "main" $) }}
      {{ end }}
      </div>
   </div>
{{ end }}
